body{
    background-color:rgb(213, 240, 238);
    font-family: sans-serif, arial;
    line-height: 1.6em;
    color:rgb(36, 47, 48);
}
header, nav, section, footer{
    background-color: #f5f5f5;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px hsl(177, 8%, 49%);
}
header h1{
    font-weight:2em ;
    color: rgb(21, 117, 121);
}
nav ul li {
  list-style: none;
  display: inline;
  margin-right: 10px;
}
nav ul li a{
    text-decoration: none;
    color:rgb(48, 209, 214);
    font-size: 1.5em;
    font-weight: bolder;
}
nav ul li.current a{
    color:rgb(48, 209, 214);
    font-weight: bolder;
}
section img{
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
section iframe{
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    display: block;
    margin: 0 auto;
}
footer{
    text-align: center;
}